body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#newRoomForm{
  padding: 20px 20px 20px 20px;
  display: block;
  float: left;
}

input{
  display: block;
  margin: 10px, 10px, 10px, 10px
}

.new-room-button{
  margin-top: 10px;
  margin: auto;

}

.chat-room-title, .chat-room-name{
  text-align: left;
  margin-left: 20px;
}

.chat-box{
  float: left;
  padding-left: 20px;
  display: block;
  position: fixed;
  left: 20px;
  border-width: medium;
}

.title-of-active, .messagelist{
  float: left;
  padding-left: 20em;
}
